body {padding: 0;margin: 0;user-select: none;}
* {transition: 0.3s ease-in-out; font-family: 'Montserrat', sans-serif;}
button:focus {outline: none;}

.header-block {
	position: fixed;
	width: 100%;
	border-bottom: 2px solid green;
	padding: 8px;
	background: #333333;
}
.header-block button {
	border: 2px solid transparent;
	background: transparent;
	color: white;
	padding: 8px;
	font-size: 20pt;
}
.header-block button:nth-of-type(1) {padding-right: 26px;}

#left-bar-menu {
	position: fixed;
	background: white;
	border-right: 2px solid white;
	width: 240px;
	padding: 8px;
	height: 100%;
	transform: translateX(-290px);
	box-shadow: 5px 0px 40px #333333;
	transition: 0.7s ease-in-out;
	z-index: 2;
}
#left-bar-menu > div:nth-of-type(1) {
	padding: 8px;
	font-size: 20pt;
	padding-left: 8px;
}
#left-bar-menu > button:nth-of-type(1) {
	border: 2px solid transparent;
	border-radius: 4px;
	width: 100%;
	padding: 4px;
	font-size: 14pt;
	text-align: left;
	letter-spacing: 2px;
	background: transparent;
	color: #999999;
}
#left-bar-menu > button:nth-of-type(1):hover {color: white; background: #808080;}
#left-bar-menu > div:nth-of-type(2) {
	padding: 2px;
	font-size: 16pt;
	padding-left: 10px;	
}
#left-bar-menu > div:nth-of-type(2) div {
	color: #666666;
	padding: 4px;
	padding-bottom: 20px;
	letter-spacing: 2px;
}
#left-bar-menu > div:nth-of-type(2) div:hover {color: black;}

#block-menu-trs {
	display: none;
	width: 100%;
	height: 100%;
	background: transparent;
	opacity: 0.8;
	z-index: 2;
	position: absolute;
	transition: 0.5s ease-in-out;
}




